[Unit]
Description=Example IOC
After=network.target

[Service]
Type=simple
User=epics
Group=epics
WorkingDirectory=/home/epics/exampleIOC/boot/
ExecStart=/usr/bin/procServ --foreground --logfile - --port 20000 ./st.cmd
Restart=always
SyslogIdentifier=%N

[Install]
WantedBy=multi-user.target
